.redText {
  color: red;
}

.greenText {
  color : green;
}

.inner {
    display: table;
    margin: 1px auto;
}
.board-row:after {
    clear: both;
    content: "";
    display: table;
  }

.board {
    background: #999;
    border: 2px solid #aaa;
    margin: auto;
    width: 75%;
}
.square {
    background: #fff;
    border: 1px solid #999;
    height: 150px;
    margin: 10px 10px 10px 10px;
    width: 150px;
    position: relative;
    font-size: 500%;
  }